#   ____ ___ _____   ___
#  / ___|_ _|_   _| |_ _|__ _ _ __   ___  _ __ ___
# | |  _ | |  | |    | |/ _` | '_ \ / _ \| '__/ _ \
# | |_| || |  | |    | | (_| | | | | (_) | | |  __/
#  \____|___| |_|   |___\__, |_| |_|\___/|_|  \___|
#                       |___/


# Profect files -------------------------------------------
build
.sass-cache
.idea
.settings
.project
bower_components
node_modules
npm-debug.log
dist/blueprint
source/ts/**/*.js
source/ts/**/*.js.map
source/json/lang/
# Mac files -----------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

dist
bin
tmp
temp
Backup
NaN
server
server/js
source/audio
/.vscode/
.vs/
